@model List<StudentManagement.Models.ViewModel.Course>

@{
    ViewBag.Title = "CourseList";
}

<h2>CourseList</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
        </tr>
    </thead>
    @foreach (var items in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => items.CourseId)</td>
                <td>@Html.DisplayFor(model => items.CourseName)</td>
                <td>
                    <div>
                        @Html.ActionLink("Edit", "../CourseList/EditCourse", new { id = items.CourseId })
                    </div>
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Delete", "../CourseList/DeleteCourse", new { id = items.CourseId })
                    </div>
                </td>
            </tr>
        </tbody>
    }
</table>
@*table for displaying number of students enrolled in a course*@
<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Number Of Students Enrolled</th>
        </tr>
    </thead>
    @foreach (var items in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => items.CourseName)</td>
                <td>
                    @{
                        var count = new StudentManagement.Controllers.StudentsListController().CountOfStudents(items.CourseId);

                    }
                    @Html.DisplayFor(modelItem => count)
                </td>
            </tr>
        </tbody>
                        }
</table>